  /*body, html{
    height: 100%;
  }
  .parallax1 {
    background-image: url('');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
    background-image: url('');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .center{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    
  }